<!DOCTYPE HTML>
<html>
<body>
<!-- webpage content goes here in the body -->
<link rel="stylesheet" href="/public/css/firstpStyle.css" type="text/css" />

<button class="button">Help</button>
<button class="button"><a href="/home/">Home</a></button>
<button class="button"><a href="/home/register">Register</a></button>
<button class="button"><a href="/home/checklist">Checklist</a></button>

{{ >partials/header}}
<p> {{ text }} </p>

	<div id="page">
		<div id="logo" style="text-align: center">

			<h1>Checklist for xxxx</h1>
		</div>
		<div id="nav"> </div>

		<div id="content">
			<p>
				<ul id="myUL">
					<table>
						{{#homechecklist}}
						<tr>
							<td><a href="/home/checklist?id={{id}}" /> {{ id }}</td>
							<td>{{ text }}</td>
							<td>{{ dateTime }}</td>
							<td>{{ done }}</td>
							<td><a href="/home/checklist/edit?id={{id}}" />Edit</td>
							<td><a href="/home/checklist/delete?id={{id}}" />Delete</td>
						</tr>
						{{/homechecklist}}
					</table>
			</ul>
			<p>
				<button class="button"><a href="/home/checklist/add"> New note </a></button>
			</br>
			{{ >partials/footer }}
			</p>
		 </p>
		</div>
	</div>

</body>
</html>
